 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 779px;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 167px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 82px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}