.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 223px auto 0 221px;
}

.u-section-1 .u-form-1 {
  height: 403px;
  margin: -209px 42px 60px 528px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 21px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}